/* Body Section */

.section-body {
  padding: 20px;
}

.hidden {
  visibility: hidden;
}

/* About Section */

.about-me-container {
  display: flex;
  max-width: 900px;
  letter-spacing: 0;
  margin: auto;
  align-items: center;
}

.about-me {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 10px;
}

.about-me p,
.about-me h2 {
  margin: 0;
}

.img-container {
  width: 40%;
}

.aboutme-img {
  max-width: 175px;
  height: 200px;
  background-image: url(../img/nick.jpeg);
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.section-body h1 {
  text-align: center;
}

/* Projects Section */
.projects-container {
  margin: auto;
  display: flex;

  justify-content: center;

  flex-wrap: wrap;
}

.projects-h2 {
  text-align: center;
}
.projects {
  text-align: center;
  margin: 30px;
  border: 1px solid rgba(100, 255, 218, 0.4);
  border-radius: 5px;
  padding: 15px;
  background-color: #112240;
  width: 400px;
  height: 450px;
}
.projects h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: large;
}

.projects p {
  margin: auto;
}
.projects hr {
  margin: 20px;
}
video::-webkit-media-controls {
  display: none !important;
  cursor: pointer;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
video {
  border-radius: 5px;
  width: 325px;
  transition: 0.5s ease;
  margin: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
video:hover {
  position: absolute;
  width: 420px;
  margin-top: 10px;
}

/* Footer Section */

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  margin: auto;
  text-align: center;
  max-width: 600px;
  line-height: 20px;
}
.footer-a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  color: #a8b2d1;
  font-family: "Fira Code", monospace;
  font-size: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.footer-a:hover {
  color: #64ffda;
}

.footer-btn {
  margin-top: 10px;
}

@media screen and (max-width: 780px) {
  .projects {
    width: 350px;
  }
  video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  video:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-top: 0;
  }
}
