.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.section-body {
  padding: 20px;
}

.about-me-container {
  display: flex;
  max-width: 900px;
  letter-spacing: 0;
  margin: auto;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.about-me {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 10px;
}
.about-me p,
.about-me h2 {
  margin: 0;
}

.img-container {
  margin: 10px;
  width: 40%;
}

.aboutme-img {
  max-width: 175px;
  height: 200px;
  background-image: url(../img/nick.jpeg);
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.section-body h1 {
  text-align: center;
}

.projects {
  text-align: center;
  margin: 30px auto;
  box-shadow: 2px 2px 4px rgb(71, 71, 71);
  border-radius: 5px;
  max-width: 350px;
  padding: 15px;
  background-color: #112240;
}

.projects p {
  width: 70%;
  margin: auto;
}
.projects-h2 {
  text-align: center;
}

hr {
  margin: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  margin: auto;
  text-align: center;
  max-width: 600px;
  line-height: 20px;
}
.footer-a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  color: #a8b2d1;
  font-family: "Fira Code", monospace;
  font-size: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.footer-a:hover {
  color: #64ffda;
}

.footer-btn {
  margin-top: 10px;
}
