.home-container {
  height: 100vh;
}

.main-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 95%;
  color: #ccd6f6;
}
.nav-links-deactive {
  display: none;
}
.nav-links-mobile {
  display: none;
  color: #ccd6f6;
}

.nav-links li {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.4s ease;
}

.nav-links li:hover {
  color: #64ffda;
}
.resume {
  border: 1px solid #64ffda;
  background-color: transparent;
  border-radius: 5px;
  color: #64ffda;
}
.resume:hover {
  background-color: rgb(100, 255, 218, 0.1);
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  margin: 0 auto;
  max-width: 900px;
}

.main-bio {
  align-items: center;

  display: flex;
  justify-content: space-between;
  width: 90%;
}

.main-bio-text button {
  border: none;
  background-color: transparent;
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.animate__animated.animate__bounceInDown {
  animation-duration: 2s;
}
.home-bio {
  max-width: 400px;
  padding-right: 10px;
  line-height: 20px;
}
.main-bio-text h3 {
  margin: 0;
  animation-delay: 0.9s;
  animation-duration: 1.9s;
  color: #64ffda;
  font-size: clamp(10px, 8vw, 14px);
}
.main-bio-text h2 {
  margin: 0;
  animation-delay: 0.7s;
  animation-duration: 1.7s;

  font-size: clamp(25px, 5vw, 50px);
}

.main-bio-text p {
  margin: 0;
  font-size: clamp(9px, 5vw, 11px);
  animation-delay: 0.5s;
  animation-duration: 1.5s;

  text-align: left;
  letter-spacing: 1px;
}
.main-bio-text button {
  animation-delay: 0.4s;
  animation-duration: 1.3s;
  transition: 0.3s ease;
}

.main-bio-text button:hover {
  background-color: rgb(100, 255, 218, 0.3);
}

.icons {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: flex-end;
}
.icons img {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin: 5px;
}

.icons img:nth-child(1) {
  animation-duration: 1s;
}

.icons img:nth-child(2) {
  animation-delay: 0.4s;
  animation-duration: 1s;
}
.icons img:nth-child(3) {
  animation-delay: 0.8s;
  animation-duration: 1s;
}
.icons img:nth-child(4) {
  animation-delay: 1.2s;
  animation-duration: 1s;
}

.html-img {
  background-image: url(../img/html.png);
}
.css-img {
  background-image: url(../img/css.png);
}
.js-img {
  background-image: url(../img/js.png);
}
.react-img {
  background-image: url(../img/react.png);
}

.mobile-menu-icon {
  display: none;
}
.nav-links-deactive {
  display: hidden;
}

@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }
  .nav-links-deactive {
    color: transparent;
    position: absolute;
  }

  .resume {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #112240;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 5;
  }

  .nav-links-mobile li {
    text-align: center;
    width: fit-content;
    margin: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .nav-links-mobile li:last-child {
    border: 1px solid #64ffda;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: #64ffda;
  }
  .nav-links-mobile li:last-child:hover {
    background-color: rgb(100, 255, 218, 0.1);
  }

  .nav-links-mobile li:hover,
  .mobile-menu-icon:hover {
    color: #64ffda;
  }

  .mobile-menu-icon {
    z-index: 6;
    display: block;
    position: absolute;
    background-color: transparent;
    color: #ccd6f6;
    outline: none;
    top: 15px;
    right: 25px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
  }
}
