@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 25, 47);
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
li {
  color: #ccd6f6;
}
li {
  font-size: 13px;
}

p {
  color: #8892b0;
}

button {
  background-color: transparent;
  border: 1px solid #64ffda;
  color: #64ffda;
  font-family: "Fira Code", monospace;
}

button:hover {
  background-color: rgb(100, 255, 218, 0.3);
}
